attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==48.0.0
docutils==0.22.4
Flask==3.1.3
flask_cors==6.0.2
flask_leaflet==0.2.4
flask_sqlalchemy==3.1.1
folium==0.20.0
geoalchemy2==0.19.0
geocoder==1.38.1
geojson_length==0.4.0
geopandas==1.1.3
googlemaps==4.10.0
gpxpy==1.6.2
HTMLParser==0.0.2
importlib_metadata==8.0.0
ipython==8.12.3
ipywidgets==8.1.8
Jinja2==3.1.6
jnius==1.1.0
keyring==25.7.0
lockfile==0.12.2
mock==5.2.0
oauthlib==3.3.1
pandas==3.0.3
Pillow==12.2.0
protobuf==7.34.1
psycopg2==2.9.12
pyOpenSSL==26.2.0
pyproj==3.7.2
python-dotenv==1.2.2
railroad==0.5.0
Shapely==2.1.2
Sphinx==9.1.0
SQLAlchemy==2.0.49
thread==2.0.6
tornado==6.5.2
truststore==0.10.4
urllib3_secure_extra==0.1.0
Werkzeug==3.1.8
xmlrpclib==1.0.1
