<html>

<head>
    {{ leaflet.load() }}
    
    <!-- Vercel Speed Insights -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</head>

<body>
    <!-- You can add custom options at this instance that will overwrite any defaults coming from the view. Note that using class_='h-200px' we stablish a minimum height otherwise the map wouldnt be visible. -->
    {{ leaflet.render_map(my_map, class_='h-[200px]', zoom=10) }}
</body>

</html>